{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <section class="postShorten-group main-content-wrap">
          <div class="postShorten-wrap">
            <div class="postShorten-header">
            <h1 class="postShorten-title" itemprop="headline">
              Welcome to my personal website!
            </h1>
            </div>
            <div>
              <p>
                I’m Shoichi Imamura. I write software and have hands-on experience in developing new services and tackling the challenges in the growth phase of a service.
                <br><br>
                I also have focused on designing architecture and selecting middleware based on application requirements.
                <br><br>
                <h4><a href="/about/"><i class="far fa-smile"></i> About me</a></h4>
                <h4><a href="/blog/"><i class="fa fa-book"></i> Blog</a></h4>
              </p>
            </div>
          </div>
        </section>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}

